<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>اولین برنامه جنگو من</title>
</head>
<body style="background-color:#e0e0e0;">
    <div style="text-align: center; padding: 60px">
        <h1 style="color: #570dd7; font-weight: bold;">سلام</h1>
        <br />
        <p style="color: #525252">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, blanditiis, delectus dolore earum error fuga fugit inventore labore laborum libero molestias natus porro quia quidem soluta veniam voluptate voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, blanditiis, delectus dolore earum error fuga fugit inventore labore laborum libero molestias natus porro quia quidem soluta veniam voluptate voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, blanditiis, delectus dolore earum error fuga fugit inventore labore laborum libero molestias natus porro quia quidem soluta veniam voluptate voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, blanditiis, delectus dolore earum error fuga fugit inventore labore laborum libero molestias natus porro quia quidem soluta veniam voluptate voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, blanditiis, delectus dolore earum error fuga fugit inventore labore laborum libero molestias natus porro quia quidem soluta veniam voluptate voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, blanditiis, delectus dolore earum error fuga fugit inventore labore laborum libero molestias natus porro quia quidem soluta veniam voluptate voluptatum?
        </p>
    </div>
</body>
</html>